.welcome-splash-container {
    background-color: #232D2F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 500px;
    margin-bottom: 300px;
}
html, body {
    height: 100%;
    width: 100%;
    
}
