.App {
  text-align: left;
  background-color: #232D2F;
  color:white
}


.app-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
  align-items: center;
  width: auto;
  height: 56px;
  padding: 8px 24px;
}

.app-link {
  color: #61dafb;
}