.bottom-navigation-root .MuiBottomNavigation-root{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #E4E4E4;
    background-color: #232D2F; 
}
.bottom-navigation-root .MuiBottomNavigationAction-iconOnly {
    color: white;
}

.bottom-navigation-root .Mui-selected {
    color: aqua;
}